//@import "../main";

.panel{
  &.sidebarMinimized {
    .panelHead, .panelContainer  {
      width: calc(100% - 4rem);
    }
  }
}

.panelHead {
  display: flex;
  align-items: center;
  width: calc(100% - 15rem);
  height: 3rem;
  box-shadow: 0 0 3px 1px #ddd;
  background-color: #fff;
  padding: 0 2rem;
  box-sizing: border-box;
  @if $direction == 'rtl' {
    float: left;
  } @else {
    float: right;
  }
  .sidebar_toggle {
    display: none;
  }
  h1 {
    font-weight: 400;
    font-size: 1.3rem;
    color: #666;
  }
}

.panelContainer {
  width: calc(100% - 15rem);
  height: calc(100% - 4rem);
  transition: width 100ms linear;
  margin-bottom: 1rem;
  @if $direction == 'rtl' {
    float: left;
  } @else {
    float: right;
  }
  .panelContent {
    height: 100%;
    margin: 0.8rem 1rem 0;
    background-color: #fff;
    padding: 0.8rem;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #ddd;
  }
}

@media (max-width: 768px) {
  .panel{
    &.sidebarMinimized {
      .panelHead, .panelContainer  {
        width: 100%;
      }
    }
  }
  .panelHead {
    width: 100%;
    height: 4rem;
    background-color: #233342;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    @if $direction == 'rtl' {
      right: 0;
    } @else {
      left: 0;
    }
    float: none;
    z-index: 10;
    .sidebar_toggle {
      display: block;
      background: none;
      border: none;
      @if $direction == 'rtl' {
        margin-left: 1rem;
      } @else {
        margin-right: 1rem;
      }
      svg {
        font-size: 23px;
        color: #fff;
      }
    }
    h1 { color: #fff; }
  }
  .panelContainer {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 4.5rem;
  }
}