﻿
@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 200;
	src: url('./Lato/Lato-Light.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 200;
	src: url('./Lato/Lato-LightItalic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	src: url('./Lato/Lato-Thin.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 300;
	src: url('./Lato/Lato-ThinItalic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	src: url('./Lato/Lato-Regular.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	src: url('./Lato/Lato-Italic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	src: url('./Lato/Lato-Medium.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 500;
	src: url('./Lato/Lato-MediumItalic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	src: url('./Lato/Lato-Semibold.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 600;
	src: url('./Lato/Lato-SemiboldItalic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	src: url('./Lato/Lato-Bold.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	src: url('./Lato/Lato-BoldItalic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	src: url('./Lato/Lato-Black.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 800;
	src: url('./Lato/Lato-BlackItalic.ttf');
}

@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	src: url('./Lato/Lato-Heavy.ttf');
}
@font-face {
	font-family: Lato;
	font-style: italic;
	font-weight: 900;
	src: url('./Lato/Lato-HeavyItalic.ttf');
}