@import "./helpers";
/* ====== Start #Global ====== */
*{
  @if $direction == 'rtl' {
    direction: rtl;
    text-align: right;
    font-family: $fontRTL;
  } @else {
    direction: ltr;
    text-align: left;
    font-family: $fontLTR;
  }
  padding: 0;
  margin: 0;
}
body {
  background-color: $light;
}
a {
  text-decoration: none;
  color: $primary;
}
ul {
  padding: 0;
  list-style: none;
}

/* ====== End #Global ====== */