/*
  // #Colors
  // #Margin
  // #Padding
*/


$direction: 'ltr';
$fontRTL: IRANSans;
$fontLTR: Lato;


/* ====== Start #Colors ====== */
$primary: #1976D2;
$success: #388E3C;
$warning: #FDD835;
$danger: #d32f2f;
$info: #4DD0E1;
$dark: #24334A;
$gray: #999;
$light: #f7f7f7;

$blue: #03A9F4;
/* ====== End #Colors ====== */

.full_content,
.full_content body,
.full_content body > section,
.full_content body > section > *,
.full_content body > section > * {
  height: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 2rem auto;
}
.p_desc {
  font-size: 0.8rem;
  margin: 1rem 0;
  color: #999;
}

.text_center { text-align: center; }
.text_right { text-align: right; }
.text_left { text-align: left; }
.text_justify { text-align: justify; }
.alert_item {
  color: #fff
}
.fab_link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}
.prices_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .old_price {
    font-size: 14px;
    text-decoration: line-through;
    color: #999;
    margin-bottom: 0.3rem;
  }
  .new_price {
    font-size: 16px;
    font-weight: 500;
    color: $success;
  }
}
.old_price {
  text-decoration: line-through;
  color: #999;
}
.new_price {
  font-weight: 500;
  margin-left: 0.5rem;
  color: $success;
}
.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.btnLoading {
  display: flex !important;
  justify-content: center;
}

@mixin placeholder_input() {
  font-weight: 100;
  color: #ccc;
}

@mixin background_colors() {
  &.primary {background-color: $primary;}
  &.danger {background-color: $danger;}
  &.info {background-color: $info;}
  &.success {background-color: $success;}
  &.warning {background-color: $warning;}
  &.dark {background-color: $dark;}
  &.gray {background-color: $gray;}
  &.light { color: #333; background-color: $light;}
}

/* ====== Start #Margin ====== */
$margin_classes: m_ mt_ mb_ mh_ mv_ ml_ mr_;

@each $class in $margin_classes {
  @for $i from 0 through 10 {
    .#{$class}#{$i} {
      @if($class == m_) {
        margin: $i + rem;
      }@else{
        @if($class == mt_ or $class == mv_) {
          margin-top: $i + rem;
        }
        @if($class == mb_ or $class == mv_) {
          margin-bottom: $i + rem;
        }
        @if($class == mr_ or $class == mh_) {
          margin-right: $i + rem;
        }
        @if($class == ml_ or $class == mh_) {
          margin-left: $i + rem;
        }
      }
    }
  }
}

/* ====== End #Margin ====== */


/* ====== Start #Padding ====== */

$padding_classes: p_ pt_ pb_ ph_ pv_ pl_ pr_;

@each $class in $padding_classes {
  @for $i from 0 through 10 {
    .#{$class}#{$i} {
      @if($class == p_) {
        padding: $i + rem;
      }@else{
        @if($class == pt_ or $class == pv_) {
          padding-top: $i + rem;
        }
        @if($class == pb_ or $class == pv_) {
          padding-bottom: $i + rem;
        }
        @if($class == pr_ or $class == ph_) {
          padding-right: $i + rem;
        }
        @if($class == pl_ or $class == ph_) {
          padding-left: $i + rem;
        }
      }
    }
  }
}

/* ====== End #Padding ====== */