@import "../../res/helpers";

.clients_search {
  display: flex;
  margin: 1.5rem 1rem;
  justify-content: flex-start;
  input {
    width: 20rem !important;
    max-width: 100%;
    box-shadow: 0 0 1px 1px #ddd !important;
    color: #666;
    &::placeholder {
      color: #ccc;
    }
  }
}
.bookings {
  margin: 0.8rem 1rem 0;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #ddd;
  .text_table {
    font-size: 0.8rem;
    padding: 0.9rem;
    text-align: center;
    color: #999;
  }
  .actions > *{
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
  .errorAlert {
    color: #fff
  }
}
.booking_page {
  .client_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .actions {
      button {
        margin-right: 5px;
      }
    }
  }
  .errorAlert {
    color: #fff
  }
  .user_info {
    display: flex;
    align-items: center;
    padding: 15px 0;
    img {
      width: 120px;
      height: 120px;
      padding: 1px;
      border-radius: 50%;
      box-shadow: 0 0 3px 1px #ccc;
      text-align: center;
      overflow: hidden;
    }
    .info {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      margin-left: 1.5rem;
      .name {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }
    }
  }
  .booking_services {
    .booking_service {
      padding: 10px;
      margin: 1rem 0 0;
      box-shadow: 0 0 1px #999;
      .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info {
          flex: 1;
          .title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          .employee {
            font-size: 14px;
            color: #999;
          }
        }
        .prices {
          flex: 1;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          .old_price {
            font-size: 14px;
            margin-bottom: 5px;
          }
          .new_price{
            margin: 0;
          }
        }
        .date_time {
          flex: 1;
          font-size: 14px;
          .date {
            margin-bottom: 5px;
          }
          p {
            text-align: center;
          }
        }
      }
      .description {
        border-top: 1px solid #eee;
        padding: 5px 0;
      }
    }
  }
  .item {
    display: flex;
    margin-top: 10px;
    .label{
      font-weight: 600;
      display: block;
      min-width: 100px;
      max-width: 50%;
    }
    .value{
      display: block;
      min-width: 100px;
      max-width: 50%;
    }
  }
}

.booking_view {
  height: calc(100% - 1rem);
  margin: 0.8rem 1rem 0;
  //background-color: #fff;
  //box-sizing: border-box;
  //box-shadow: 0 0 3px 1px #ddd;
  .booking_list {
    .item {
      background-color: #fff;
      padding: 10px 0;
      border-radius: 3px;
      box-shadow: 0 0 3px 1px #ccc;
      margin: 0 10px 20px;
    }
  }
  .note {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #ccc;
    margin: 10px;
    textarea { resize: none; }
  }
  .cols { height: 100%; padding: 0 7px; }
  .order_view {
    & > h1 {
      display: inline-block;
      font-size: 1.2rem;
      margin: 0.5rem 0;
      padding: 0.2rem 1.5rem 0.2rem 0.2rem;
      border-bottom: 2px solid #23334b;
    }
    .order_services {
      .service {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1rem;
        //cursor: pointer;
        &:last-child {
          border-bottom: 0;
        }
        .info {
          flex: 100;
          margin: 0 1.5rem;
        }
        .title {
          font-size: 1.1rem;
          font-weight: bold;
        }
        .options {
          display: flex;
          .option {
            width: 100%;
            margin: 10px;
          }
        }
        .metas {
          display: flex;
          padding: 0.5rem 0;
          .meta {
            width: 6rem;
            font-size: 0.9rem;
            margin-right: 2rem;
            color: #999;
          }
        }
        .prices {
          span {
            display: block;
            text-align: center;
            margin: 0;
          }
        }
      }
    }
  }
  .order_payment {
    margin: 0 1rem;
    & > h1 {
      display: inline-block;
      font-size: 1.2rem;
      margin: 0.5rem 0;
      padding: 0.2rem 1.5rem 0.2rem 0.2rem;
      border-bottom: 2px solid #23334b;
    }
    li {
      display: flex;
      align-items: center;
      margin: 1.5rem 0;
      img {
        font-size: 0;
        width: 50px;
        height: 50px;
        margin: 0 0.5rem;
      }
    }
  }
  .check_service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    width: 20px;
    height: 20px;
    max-width: 20px;
    border: 1px solid #999;
    border-radius: 50%;
  }
  .content {
    height: 100%;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #ddd;
    padding: 1rem;
    overflow: auto;
    .select_client {
      font-size: 2rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
      text-align: center;
      color: #d32f2f;
      padding: 2rem 0.5rem;
      align-items: center;
      justify-content: center;
      background-color: rgba(0,0,0,0.2);
      text-shadow: 0 0 5px #fff;;
    }

    .add_booking_services {
      display: flex;
      flex-wrap: wrap;
      .list {
        flex: 100%;
        max-width: 50%;
        padding: 0.5rem;
        box-sizing: border-box;
        ul > li {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.5rem;
          box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
          margin: 0.5rem 0;
          border-radius: 5px;
          .service_title {
            flex: 1;
            padding: 0.5rem;
          }
        }
      }
    }
    .date_booking {
      font-weight: 400;
      color: #333;
      padding: 1rem;
    }
    .service {
      display: flex;
      align-items: center;
      padding: 10px;
      .time {
        flex: 1;
        max-width: 100px;
      }
      .service_data {
        flex: 1;
        display: flex;
        width: 100%;
        align-items: center;
        .service_info {
          flex: 1;
          h3 {
            font-size: 1.1rem;
            color: #333;
          }
          .staff {
            font-size: 0.8rem;
            color: #999;
            margin-top: 5px;
          }
        }
        .prices {
          max-width: 80px;
          flex: 1;
          .price,
          .old_price {
            text-align: center;
          }
        }
      }
    }
    .total_result {
      display: flex;
      flex-direction: row-reverse;
      border-top: 1px solid #ddd;
      padding: 1rem 10px;
      margin-top: 1rem;
      .total_price {
        flex: 1;
        max-width: 80px;
        text-align: center;
      }
    }
  }
  .sidebar {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 3px 1px #ddd;
    padding: 0 0 4.5rem;
    @if($direction == 'rtl') {
      border-right: 1px solid #ddd;
    } @else {
      border-left: 1px solid #ddd;
    }
    .client_container{
      border-bottom: 1px solid #ddd;
      padding: 0.5rem 0;
      .search_client {
        padding: 0.5rem;
        input {
          margin-bottom: 0.5rem;
        }
      }
      .clients_list {
        li {
          display: flex;
          cursor: pointer;
          padding: 10px 0;
          border-bottom: 1px solid #ddd;
          &:last-child {
            border-bottom: 0;
          }
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #ddd;
            @if($direction == 'rtl') {
              margin-left: 0.5rem;
            } @else {
              margin-right: 0.5rem;
            }
          }
          p {
            color: #999;
            margin-top: 5px;
          }
        }
      }
    }

    .user_info {
      display: flex;
      padding: 0.8rem;
      border-bottom: 1px solid #ddd;
      .unselect_client {
        flex: 100;
        font-size: 1.2rem;
        padding: 1rem 1rem 0;
        text-align: right;
        cursor: pointer;
      }
      img {
        width: 70px;
        height: 70px;
        padding: 1px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 3px 1px #ccc;
        text-align: center;
        overflow: hidden;
      }
      .info {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        @if($direction == 'rtl') {
          margin-right: 1rem;
        } @else {
          margin-left: 1rem;
        }
        .name {
          font-size: 1.1rem;
          font-weight: 400;
          margin-bottom: 5px;
        }
        & > p {
          font-size: 0.8rem;
          color: #999;
        }
      }
    }
    .booking_status_btn {
      padding: 1rem 15%;
      background-color: #f7f7f7;
      button {
        border-radius: 1rem;
      }
    }
    .add_form_btn,
    .options_btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0.5rem;
      box-sizing: border-box;
      border-top: 1px solid #ccc;
      & > button ,
      & > div {
        flex: 1;
        margin: 0.5rem 0;
        //max-width: 45%;
        max-width: 100%;
      }
    }
    .add_form_btn {
      & > button ,
      & > div {
        flex: 1;
        margin: 0.5rem 0;
        max-width: 100%;
      }
    }
    .options_list {
      li {
        & > a {
          display: block;
          font-size: 0.8rem;
          border-bottom: 1px solid #ddd;
          text-align: center;
          padding: 10px 0;
          &:hover {
            background-color: #eee;
            cursor: pointer;
          }
        }
        &:last-child > a{
          border-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .booking_view {
    .sidebar {
      .options_btn {
        flex-direction: column;
        & > div,
        & > button {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .booking_view {
    margin-bottom: 5rem;
    .sidebar {
      min-height: 20rem;
      margin-top: 1rem;
      .options_btn {
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        & > div,
        & > button {
          width: 100%;
          max-width: 45%;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .booking_view {
    .content {
      .date_booking,
      .total_result {
        padding: 1rem 0;
      }
      .service {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0;
      }
    }
  }

  .booking_page {
    .client_info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .actions{
        flex-direction: column;
        display: flex;
        width: 100%;
        margin: 1rem 0;
        button {
          margin: 0 0 0.5rem 0;
        }
      }
      .user_info img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
