@import "../../res/helpers";


.staff {
  .working_hours {
    margin: 1rem;
    .filter { width: 10rem; }
    td {
      padding: 0.3rem;
      vertical-align: middle;
      .new_staff {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #999;
        padding: 0.4rem 0;
        cursor: pointer;
      }
    }
  }
  .staff_members {
    margin-top: 1rem;
    .services {
      .sub_service {
        margin: 0 2rem !important;
        padding: 15px 0;
        border-bottom: 1px dashed #ccc;
        &:last-child {
          border-bottom: 0;
        }
      }
      .checkboxes {
        justify-content: space-between;
        & > div {
          margin: 1rem 0;
        }
      }
    }
  }
  .permissions {
    table tr {
      th, td {
        font-size: 0.8rem;
        text-align: left;
      }
      td:first-child {
        width: 35%;
      }
    }
  }
}