
.badge {
  background-color: $primary;
  color: #fff;
  padding: 0.4rem 1.5rem;
  display: inline-block;
  font-size: 0.85rem;
  border-radius: 3px;
  @include background_colors();
  &.badge_linked {
    cursor: pointer;
  }
}