//@import "../main";

/* ====== Start #Button ====== */
$primaryBtn: $primary;
$successBtn: $success;
$warningBtn: $warning;
$dangerBtn: $danger;
$infoBtn: $info;
$darkBtn: $dark;
$lightBtn: $light;

@mixin colorizeBtn($color, $background) {
  background-color: $background;
  color: $color;
  &:hover,
  &:focus {
    background-color: darken($background, 5%);
  }
  &.outline {
    background-color: transparent !important;
    border: 2px solid $background;
    color: #333;
    &:hover,
    &:focus {
      background-color: rgba($background, 0.1) !important;
    }
  }
}

.btn_group {
  display: inline-block;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  & > * {
    border-width: 0 0 0 1px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  & > :first-child {
    border-left: 0 !important;
  }
}

.input_file {
  display: none;
}
.loading_btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
label,
button,
input[type="submit"],
input[type="button"],
.loading_btn,
a {
  &.button {
    display: inline-block;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.2rem;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #333;
    text-align: center;
    &:hover,
    &:focus {
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    }
    &.full {
      display: block;
      width: 100%;
    }
    &.small {
      font-size: 0.8rem;
      font-weight: normal;
      padding: 0.3rem 0.8rem;
    }
    &.primary {
      @include colorizeBtn(#fff, $primaryBtn)
    }
    &.success {
      @include colorizeBtn(#fff, $successBtn)
    }
    &.warning {
      @include colorizeBtn(#fff, $warningBtn)
    }
    &.danger {
      @include colorizeBtn(#fff, $dangerBtn)
    }
    &.info {
      @include colorizeBtn(#fff, $infoBtn)
    }
    &.dark {
      @include colorizeBtn(#fff, $darkBtn)
    }
    &.light {
      @include colorizeBtn(#333, $lightBtn)
    }
  }
}

/* ====== End #Button ====== */