//@import "../main";

/* ====== Start #Form ====== */

.inputContainer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

label {
  &.labelStyle {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #444;
    font-size: 0.8rem;
  }
}
// Input
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="url"],
select,
textarea
{
  //&::-webkit-input-placeholder ,

  &::-moz-placeholder { @include placeholder_input(); }
  &:-moz-placeholder { @include placeholder_input(); }
  &::-ms-input-placeholder { @include placeholder_input(); }
  &:-ms-input-placeholder { @include placeholder_input(); }
  &::-webkit-input-placeholder { @include placeholder_input(); }
  &::placeholder { @include placeholder_input(); }
  &.inputStyle {
    width: 100%;
    font-size: 16px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 0 1px #999;
    padding: 0.5rem;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: none;
    &:focus {
      border: 0;
      outline: none;
      box-shadow: 0 0 2px 1px $blue;
    }
    &:disabled {
      background: #eee;
    }
  }
  &.inputNoBorderStyle {
    width: 100%;
    font-size: 16px;
    border: 0;
    box-shadow: none;
    padding: 0.5rem;
    box-sizing: border-box;
    &:focus {
      border: 0;
      outline: none;
      box-shadow: none;
    }
  }
}

// checkbox
.checkboxContent{
  display: flex;
  & > label {
    @if $direction == 'rtl' {
      padding-right: 1rem;
    } @else {
      padding-left: 1rem;
    }
    font-size: 0.8rem;
    font-weight: 700;
  }
}
.checkContainer {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0 !important;
    z-index: 10;
    & + label {
      &::after {
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        box-shadow: 0 0 1px #999;
        border-radius: 2px;
        border: 1px solid #999;
      }
      &::before {
        content: " ";
        position: absolute;
        top: 3px;
        right: 1px;
        display: block;
        width: 0;
        height: 0;
        transform: rotate(-45deg);
        transition: all 0.08s ease-out;
      }
    }
    &:checked + label {
      &::before {
        content: " ";
        width: 8px;
        height: 4px;
        border-width: 0 0 3px 3px;
        border-color: transparent transparent #000 #000;
        border-style: solid;
      }
    }
    &:disabled:checked + label {
      &::before {
        border-color: transparent transparent #999 #999;
      }
    }
  }
}

// radio
.radioContainer {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 5px 0;
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: 0 !important;
    z-index: 10;
    & + label {
      &::after {
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        box-shadow: 0 0 1px #999;
        border-radius: 50%;
        border: 1px solid #999;
      }
      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        transform: rotate(-45deg);
        transition: all 0.08s ease-out;
      }
    }
    &:checked + label {
      &::before {
        content: " ";
        width: 13px;
        height: 13px;
        top: calc(50% - 5px);
        right: calc(50% - 6px);
        background-color: #333;
      }
    }
    &:disabled:checked + label {
      &::before {
        background-color: #999;
      }
    }
  }
}

/* ====== End #Form ====== */