//@import "../main";
$small: 3rem;
$medium: 3rem;
$large: 5rem;
@mixin sizes() {
  &.small { width: $small; height: $small; }
  &.medium { width: $medium; height: $medium; }
  &.large { width: $large; height: $large; }
}
@mixin dirV($priority: 0) {
    &.top {top: 1rem;}
    &.bottom {bottom: 1rem;}
}
@mixin dirH($val: 1rem) {
  &.small {
    &.left {left: $val;}
    &.right {right: $val;}
  }
  &.medium {
    &.left {left: $val;}
    &.right {right: $val;}
  }
  &.large {
    &.left {left: $val;}
    &.right {right: $val;}
  }
}
/* ====== Start #FAB ====== */
.container {
  display: flex;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  &:hover {
    @for $i from 1 through 10 {
      &.l_#{$i} {
        width: 4rem;
        height: #{$i*6}rem
      }
    }
    @for $i from 0 through 6 {
      .sub.priority_#{$i} {
        opacity: 1;
        bottom: #{($i*3.5)}rem;
      }
    }
    .fab_label {
      right: 110%;
      opacity: 1;
    }
  }
}

.fab_data {
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  .fab_label {
    position: absolute;
    font-size: 0.8rem;
    right: 90%;
    background: #333;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: all 200ms 300ms linear;
  }
}
.sub {
  display: flex;
  width: $medium;
  height: $medium;
  position: absolute;
  right: 0;
  background-color: #1976D2;
  @include background_colors();
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s 0.1s ease-out;
}
.fab {
  position: fixed;
  @include sizes();
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
  z-index: 100;
  @include background_colors();
  @include dirV();
  @include dirH();
}
/* ====== End #FAB ====== */