@import './../../res/helpers';

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .container {
    width: 25rem;
    max-width: 100%;
    h1 {
      text-align: center;
      color: $dark;
    }
    h3 {
      text-align: center;
      color: $gray;
    }
    .formContainer {
      background-color: #fff;
      padding: 1rem 1.5rem 2rem;
      margin-top: 1.5rem;
      box-shadow: 0 1px 4px 1px #ddd;
      button {
        margin-top: 1rem;
      }
    }
    .link {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      margin-top: 0.8rem;
    }
  }
}