@import "../../res/helpers";

.empty_data {
  display: flex;
  font-size: 2rem;
  color: #999;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  p {
    font-size: 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0;
  }
}
.chartjs {
  height: 500px !important;
}

.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  select {
    padding: 0.2rem 0.5rem;
  }
  h2{
    display: inline-block;
    font-size: 0.9rem;
    color: #999;
    padding-bottom: 0.3rem;
  }
}

.wrapper {
  position: relative;
  overflow-y: auto;
  height: 500px;
}

.calendar_loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.list {
  list-style: none;
  li {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }
  .title {
    color: $info;
    font-size: 0.8rem;
    .badge {
      color: #fff;
      background-color: $info;
      font-size: 0.7rem;
      padding: 0.1rem 1.5rem;
      border-radius: 0.1rem;
      margin-right: 0.3rem;
    }
  }
  .content {
    margin-top: 0.5rem;
    color: #666;
    font-size: 0.8rem;
    .date {
      margin-right: 0.5rem;
    }
    .time {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
    .user {
      margin-right: 0.5rem;
    }
  }
}

