.tabs {
  color: #000;
  .tab_header, .tab_header_full {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border-bottom: 1px solid #999;
    overflow: auto;
    & > h4 {
      white-space: nowrap;
      font-size: 0.8rem;
      width: auto;
      text-align: center;
      padding: 0.7rem;
      margin: 0 0.5rem;
      cursor: pointer;
      font-weight: 700;
      &.active {
        font-size: 0.9rem;
        font-weight: 900;
        border-bottom: 2px solid #333;
      }
    }
  }
  .tab_header_full {
    width: 100%;
    justify-content: space-around;
    & > h4 {
      width: 100%;
    }
  }
  .tab_body {
    & > div {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  //.tab {
  //  color: #000;
  //  .tab_body {
  //    color: #000;
  //  }
  //}
}