@import "../../res/helpers";

.service {
  .list {
    .group {
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
      color: #666;
      margin: 1.5rem 1rem 0.8rem;
    }
    li {
      display: flex;
      justify-content: space-between;
      color: #666;
      border: 1px solid #ccc;
      padding: 0.8rem 1rem;
      font-size: 1rem;
      font-weight: bold;
      border-left: 4px solid $info;
      cursor: pointer;
      &:first-child { border-radius: 4px 4px 0 0; }
      &:last-child { border-radius: 0 0 4px 4px; }
    }
  }
  .online_booking,
  .resources,
  .staffs {
    margin-bottom: 1rem;
    & > div {
      margin: 0.5rem 0;
      label {
        font-size: 0.9rem;
        color: #666;
      }
    }
  }
}