@import "../../res/helpers";

.calendar {
  .links {
    .link {
      display: block;
      padding: 1rem 0.5rem;
      border-bottom: 1px solid #ccc;
      color: $primary;
      font-size: 0.8rem;
      font-weight: 700;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .fab_link {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .search_container {
    padding: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    input {
      box-shadow: 0 0 1px #ccc;
    }
  }
  .payment {
    padding: 1rem;
    label {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 1rem;
    }
    input {
      font-size: 2rem;
      text-align: center;
      box-shadow: 0 0 1px #ccc;
    }
  }
  .payment_types {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    button {
      width: calc(50% - 1rem);
      padding: 0.8rem 0;
      margin: 0.5rem;
    }
  }
  .appointment_section {
    height: calc(100% - 4rem);
    & > div {
      height: 100%;
      & > div {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      .sidebar {
        position: relative;
        height: 100%;
        background-color: #fff;
        border-left: 1px solid #ddd;
        .buttons {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          display: flex;
          justify-content: space-around;
          button {
            width: 100%;
            margin: 0.8rem;
          }
        }
        .clients {
          position: relative;
          .empty_client {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5rem 0;
            width: 20rem;
            max-width: 100%;
            margin: auto;
            svg {
              font-size: 3rem;
              color: #ccc;
              margin-bottom: 1rem;
            }
            p {
              font-size: 0.9rem;
              font-weight: 600;
              width: 30rem;
              max-width: 100%;
              color: #666;
              text-align: center;
              margin: 0.8rem 0 2rem;
            }
          }
        }
      }
      .content {
        display: flex;
        height: 100%;
        background-color: #f2f2f2;
        .appointments {
          max-width: 100%;
          width: 55rem;
          margin: 2rem auto;
          overflow: auto;
          .loading {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
          }
          .day {
            font-size: 20px;
            font-weight: 400;
            color: #666;
            margin: 0 10px;
            cursor: pointer;
            .text {
              margin-right: 10px;
            }
          }
          .appointment_list {
            .item {
              background-color: #fff;
              padding: 10px 0;
              border-radius: 3px;
              box-shadow: 0 0 3px 1px #ccc;
              margin: 0 10px 20px;
            }
          }
          .note {
            background-color: #fff;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 0 0 3px 1px #ccc;
            margin: 0 10px;
          }
        }
      }
    }
  }
  .checkout {
    height: 100%;
    .prices {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .new {
        font-weight: 700;
      }
      .old {
        font-size: 0.8rem;
        margin-top: 0.3rem;
        text-decoration: line-through;
      }
    }
    .list {
      .item {
        font-weight: 700;
        padding: 1rem;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        & > span {
          display: flex;
          flex-direction: column;
        }
        .title {
          font-weight: 700;
          color: #666;
        }
        .subtitle {
          font-size: 0.8rem;
          font-weight: 500;
          color: #999;
          margin-top: 0.3rem;
        }
      }
    }
    & > div {
      height: 100%;
      & > div {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      .sidebar {
        height: 100%;
        background-color: #fff;
        border-left: 1px solid #ddd;
      }
      .content {
        display: flex;
        height: 100%;
        background-color: #f2f2f2;
        .checkouts {
          max-width: 100%;
          width: 55rem;
          margin: 2rem auto;
          .item {
            padding: 1rem;
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 0 3px 1px #ddd;
            margin-bottom: 1rem;
            .data {
              display: flex;
              justify-content: space-between;
              .detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .num {
                  font-size: 1.1rem;
                  margin-right: 1rem;
                }
                .subtitle {
                  margin-top: 0.4rem;
                  display: inline-block;
                  color: #999;
                  font-size: 0.8rem;
                }
              }
            }
            .fields {
              display: flex;
              & > div {
                margin: 1rem 1rem 0;
              }
            }
          }
        }
      }
    }
  }
  .selectItem {
    height: 100%;
    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
    .search_results {
      & > li {
        border-bottom: 1px solid #ddd;
        & > span {
          padding: 0.8rem 1rem;
          display: block;
          border-bottom: 1px solid #ddd;
          font-weight: 700;
          font-size: 1.1rem;
        }
        & > ul li {
          padding-left: 1.5rem;
        }
      }
    }
    .categories {
      height: 100%;
      overflow: auto;
      li {
        font-weight: 700;
        padding: 1rem;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
      }
    }
    .categories_data {
      height: 100%;
      overflow: auto;

    }
  }
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 500px;
    max-width: 100%;
    margin: auto;
    svg {
      font-size: 4rem;
      color: #999;
    }
    h1 {
      font-weight: 500;
      margin: 1rem 0 0;
      color: #666;
    }
    p {
      font-size: 0.9rem;
      font-weight: 400;
      width: 30rem;
      max-width: 100%;
      color: #666;
      text-align: center;
      margin: 0.8rem 0 2rem;
    }
  }
}