@import "../../res/helpers";
.invoice {
  height: 100%;
  margin: 0.8rem 1rem 0;
  background-color: #fff;
  padding: 0.8rem;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #ddd;
  h1.subject {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
  }
  .client {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    & > img {
      width: 5rem;
      height: 5rem;
      background-color: #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #eee;
      @if($direction == 'rtl') {
        margin-left: 0.8rem;
      } @else {
        margin-right: 0.8rem;
      }
    }
    .name {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }
    .meta {
      color: #666;
    }
  }
}
.invoices {
  h1.subject {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 1rem 0;
  }
  .filter {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
    & > * {
      @if ($direction == 'rtl') {
        margin-left: 1rem;
      } @else {
        margin-right: 1rem;
      }
    }
    & > select {
      max-width: 7rem;
    }
    & > input {
      max-width: 20rem;
    }
  }
}