
.popup_container {
  position: relative;
  .item_active {
    z-index: 100;
    position: relative;
    & > * {
      width: 100%;
    }
  }
  .item {
    & > * {
      width: 100%;
    }
  }
  .popup_bottom {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    z-index: 100;
  }
  .popup_top {
    position: absolute;
    bottom: calc(100% + 10px);
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    z-index: 100;
  }
}