
.wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px 1px #ddd;
  padding: 1rem;
  .head {
    border-bottom: 1px solid #ccc;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
  .title {
    display: inline-block;
    font-size: 0.9rem;
    color: #999;
    padding-bottom: 1rem;
  }
}

// Grids
.grid {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  &.grid_start { flex-direction: row; }
  &.grid_end { flex-direction: row-reverse; }
  &.grid_center { justify-content: center; }
  &.grid_space_between { justify-content: space-between; }
  &.grid_space_around { justify-content: space-around; }
  &.grid_space_evenly { justify-content: space-evenly; }
}

// <576px, ≥576px, ≥768px, ≥992px, ≥1200px
$sizes: 576 768 992 1200;
$sizesName: xs sm m l xl;
$gridNum: 12;
$class: column;

@mixin column($width) {
  width: $width;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@for $i from 1 through $gridNum {
  .#{$class}#{$i} {
    @include column(calc(100% / #{$gridNum/$i}));
  }
}
@each $size in $sizes {
  $sizeInd: index($sizes, $size);
  @if($sizeInd == 1) {
    @media screen and (max-width: $size+'px') {
      @for $i from 1 through $gridNum {
        .#{$class}#{$i}_#{nth($sizesName, $sizeInd)} {
          @include column(calc(100% / #{$gridNum/$i}));
        }
      }
    }
    @media screen and (min-width: $size+'px') {
      @for $i from 1 through $gridNum {
        .#{$class}#{$i}_#{nth($sizesName, $sizeInd+1)} {
          @include column(calc(100% / #{$gridNum/$i}));
        }
      }
    }
  } @else {
    @media screen and (min-width: $size+'px') {
      @for $i from 1 through $gridNum {
        .#{$class}#{$i}_#{nth($sizesName, $sizeInd+1)} {
          @include column(calc(100% / #{$gridNum/$i}));
        }
      }
    }
  }
}

.section {
  background-color: #fff;
}