@import "../../res/helpers";

.settings_page {
  &.container {
    justify-content: center;
  }
  .links {
    .link {
      display: block;
      padding: 1rem 0.5rem;
      border-bottom: 1px solid #ccc;
      color: $primary;
      font-size: 0.8rem;
      font-weight: 700;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .grid {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .box {
    align-items: center;
    border: 1px solid #666;
    margin: 1rem 0;
    padding: 1.5rem 0;
  }
  .OB_text {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    & > div {
      width: 100px;
      margin: 0 1rem;
    }
  }
  .crop_container { 
    display: flex;
    justify-content: center;
    background-color: #eee;
    margin-bottom: 15px;
  }
  .bottom_modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    .delete_modal {
      .errorAlert {
        color: #fff;
      }
      img {
        display: block;
        width: 100%;
        max-height: 20rem;
        margin: 1rem 0;
      }
    }
    .default_img_container,
    .img_container {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 250px;
      height: 250px;
      position: relative;
      margin: 5px;
      transition: opacity 0.3s linear;
      &:hover .actions{
        opacity: 1;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        border: 1px solid #ddd;
        background: #ddd;
        object-fit: contain;
        &.img_default {
          object-fit: fill;
        }
      }
      .actions {
        opacity: 0;
        position: absolute;
        bottom: 10px;
        transition: opacity 0.3s linear;
        .upload_btn {
          background-color: #fff;
        }
      }
    }
    .default_img_container .actions {
      bottom: auto;
      opacity: 1;
      .upload_btn {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .settings_page {
    .gallery {
      .default_img_container,
      .img_container {
        max-width: calc(50% - 10px);
        height: 200px;
      }
    }
  }
}

@media (max-width: 500px) {
  .settings_page {
    .gallery {
      .default_img_container,
      .img_container {
        flex: 100%;
        max-width: 100%;
        margin: 5px 0;
      }
    }
  }
}