.dndContainer {
  display: flex;
  justify-content: space-between;
}

.dndItemContainer {
  border: 1px dashed #ccc;
  padding: 1rem;
  width: 25rem;
}

.dragItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #666;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.dndTarget {
  font-weight: bold;
  width: 100%;
  min-height: 20rem;
  text-align: center;
  padding: 1rem;
  margin-right: 5rem;
  border: 1px solid #666;
}

.addMoreOption {
  padding: 0px 6px;
  display: inline-block;
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.dragOrderItem {
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: move;
  border: 1px dashed #999;
}