//@import "../main";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
  .modalContent {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #666;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    &.medium { width: 40rem; }
    &.big { width: 70rem; }
    &.full {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .modalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 0.8rem 1rem;
      h1 {
        flex: 1;
        display: inline-block;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
      }
      .dismiss {
        display: inline-block;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .modalBody {
      padding: 1rem;
    }
  }
}

.modalFooter {
  padding: 0.8rem 1rem;
  border-top: 1px solid #ccc;
}
