@import "../../res/helpers";
.invoice {
  height: 100%;
  margin: 0.8rem 1rem 0;
  background-color: #fff;
  padding: 0.8rem;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #ddd;
  h1.subject {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;
    color: $dark;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid;
  }
  .client {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0;
    & > img {
      width: 5rem;
      height: 5rem;
      font-size: 0;
      background-color: #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #eee;
      @if($direction == 'rtl') {
        margin-left: 0.8rem;
      } @else {
        margin-right: 0.8rem;
      }
    }
    .name {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }
    .meta {
      color: #666;
    }
  }
  .services {
    .service {
      display: flex;
      align-items: center;
      border: 1px solid #eee;
      border-radius: 0.5rem;
      background-color: #f7f7f7;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      &:last-child { border-bottom: 0; }
      @if($direction == 'rtl') { flex-direction: row-reverse; }
      @else { flex-direction: row;  }
      .code {
        padding: 0.5rem;
        text-align: center;
      }
      .info {
        flex: 80%;
        padding: 0.5rem;
        .meta {
          color: #999;
          margin-top: 0.5rem;
          .employee, .date {
            font-weight: normal;
            @if($direction == 'rtl') { margin-right: 0.3rem; }
            @else { margin-left: 0.3rem;  }
          }
        }
      }
      .prices_column {
        flex: 20%;
      }
    }
  }
}
.invoices {
  h1.subject {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 1rem 0;
  }
  .filter {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0;
    & > * {
      @if ($direction == 'rtl') {
        margin-left: 1rem;
      } @else {
        margin-right: 1rem;
      }
    }
    & > select {
      max-width: 7rem;
    }
    & > input {
      max-width: 20rem;
    }
  }
}