//@import "../main";

/* ====== Start #Sidebar ====== */
.sidebar {
  height: 100%;
  position: fixed;
  @if $direction == 'rtl' {
    right: 0;
  } @else {
    left: 0;
  }
  width: 15rem;
  background-color: #222;
  color: #fff;
  transition: width 100ms linear;
  &.isMinimize {
    width: 4rem;
    overflow: hidden;
  }
  &:not(.isMinimize) {
    .list {
      li.miniMenu {
        .bars {
          transform: rotate(-180deg);
          .barMenu {
            &:first-child {
              @if $direction == 'rtl' {
                transform: rotate(-45deg);
                margin-right: 0.7rem;
              }@else{
                transform: rotate(45deg);
                margin-left: 0.7rem;
              }
              width: 1rem;
            }
            &:nth-child(2) {
              margin-top: 0.2rem;
            }
            &:last-child {
              @if $direction == 'rtl' {
                transform: rotate(45deg);
                margin-right: 0.7rem;
              }@else{
                transform: rotate(-45deg);
                margin-left: 0.7rem;
              }
              margin-top: 0.2rem;
              width: 1rem;
            }
          }
        }
      }
    }
  }
  .list {
    list-style: none;
    li {
      white-space: nowrap;
      &.miniMenu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 3rem;
        @if $direction == 'rtl' {
          margin-right:  1.2rem;
        } @else {
          margin-left:  1.2rem;
        }
        .bars {
          display: block;
          width: 1.5rem;
          transition: transform 200ms linear;
          .barMenu {
            display: block;
            width: 1.5rem;
            margin-top: 0.4rem;
            height: 2px;
            background: #fff;
            transition: all 200ms linear;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
      &:last-child {
        a {
          border-bottom: 0;
        }
      }
      a {
        display: block;
        color: #FFF;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #333;
        font-weight: bold;
        &:hover {
          background-color: #333;
        }
        span {
          @if $direction == 'rtl' {
            margin-right: 1.6rem;
          } @else {
            margin-left: 1.6rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar_layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 2;
  }
  .sidebar {
    padding: 0.7rem 0 0;
    height: 100%;
    position: fixed;
    z-index: 20;
    @if $direction == 'rtl' {
      right: 0;
    } @else {
      left: 0;
    }
    top: 0;
    width: 15rem;
    background-color: #222;
    color: #fff;
    transition: all 100ms linear;
    &.isMinimize {
      //width: 4.1rem;
      //overflow: hidden;
      transform: translate(-15rem, 0);
    }
    &:not(.isMinimize) {
      .list {
        li.miniMenu {
          .bars {
            transform: rotate(-180deg);
            .barMenu {
              &:first-child {
                @if $direction == 'rtl' {
                  transform: rotate(-45deg);
                  margin-right: 0.7rem;
                }@else{
                  transform: rotate(45deg);
                  margin-left: 0.7rem;
                }
                width: 1rem;
              }
              &:nth-child(2) {
                margin-top: 0.2rem;
              }
              &:last-child {
                @if $direction == 'rtl' {
                  transform: rotate(45deg);
                  margin-right: 0.7rem;
                }@else{
                  transform: rotate(-45deg);
                  margin-left: 0.7rem;
                }
                margin-top: 0.2rem;
                width: 1rem;
              }
            }
          }
        }
      }
    }
    .list {
      list-style: none;
      li {
        white-space: nowrap;
        &.miniMenu {
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 3rem;
          @if $direction == 'rtl' {
            margin-right:  1.2rem;
          } @else {
            margin-left:  1.2rem;
          }
          .bars {
            display: block;
            width: 1.5rem;
            transition: transform 200ms linear;
            .barMenu {
              display: block;
              width: 1.5rem;
              margin-top: 0.4rem;
              height: 2px;
              background: #fff;
              transition: all 200ms linear;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        &:last-child {
          a {
            border-bottom: 0;
          }
        }
        a {
          display: block;
          color: #FFF;
          padding: 1rem 1.5rem;
          border-bottom: 1px solid #333;
          font-weight: bold;
          &:hover {
            background-color: #333;
          }
          span {
            @if $direction == 'rtl' {
              margin-right: 1.6rem;
            } @else {
              margin-left: 1.6rem;
            }
          }
        }
      }
    }
  }
}
/* ====== End #Sidebar ====== */


