.full_loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.errorTxt {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  color: #d32f2f;
}