//@import "../main";

/* ====== Start #Table ====== */
.tableContainer {
  border-radius: 5px;
  margin-top: 1rem;
  overflow-x: auto;
  &.table_row_linked {
    tbody tr:hover{
      cursor: pointer;
      background-color: #f7f7f7;
    }
  }
  &.table_no_padding {
    tbody tr td {
      padding: 0;
    }
  }
  &.table_head_striped {
    thead tr {
      background-color: #f7f7f7;
    }
  }
  &.table_striped {
    thead tr {
      background-color: #f2f2f2;
    }
    tbody  tr:nth-child(2n) {
      background-color: #f7f7f7;
    }
  }
  &.table_bordered {
    border: 1px solid #dee2e6;
    table {
      tr {
        &:last-child {
          th, td {
            border-bottom: 0;
          }
        }
        th, td {
          &:first-child {
            @if($direction == 'rtl') {
              border-right: 0;
            }@else{
              border-left: 0;
            }
          }
          &:last-child {
            @if($direction == 'rtl') {
              border-left: 0;
            }@else{
              border-right: 0;
            }
          }
          border-bottom: 0;
        }
      }
    }
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    thead {
      th {
        text-align: center;
        border-top: 0;
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6 !important;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #dee2e6;
      }
    }
    td, th {
      position: relative;
      padding: .75rem;
      vertical-align: top;
      text-align: center;
      border: 0;
    }
  }
}
//.table {
//  width: 100%;
//  border-collapse: collapse;
//  thead {
//    th {
//      vertical-align: bottom;
//      border-bottom: 2px solid #dee2e6;
//    }
//  }
//  tr {
//    &:last-child {
//      th, td {
//        border-bottom: 1px solid #dee2e6;
//      }
//    }
//    th, td {
//      padding: .75rem;
//      vertical-align: top;
//      border-top: 1px solid #dee2e6;
//      &:first-child {
//        border-right: 2px solid #dee2e6;
//      }
//      border-left: 2px solid #dee2e6;
//    }
//  }
//}

/* ====== End #Table ====== */
