@import "../../res/helpers";
.sales {
  .appointments {
    .filter {
      display: flex;
      justify-content: flex-start;
      margin: 1rem 0;
      & > div {
        @if($direction == 'rtl') {
          margin-left: 1rem;
        }@else{
          margin-right: 1rem;
        }
      }
    }
  }
  .content_tab {
    & > p ,
    & > h1 {
      padding: 1rem 1rem 0;
    }

  }
}