@import "../../res/helpers";

.view_product {
  h1 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0 1rem;
  }
  h2 {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 2rem 1rem;
  }
  .list_box {
    display: flex;
    margin-right: 3rem;
    flex-direction: column;
  }
  table td, th {
    text-align: left !important;
  }
  .item {
    margin-bottom: 0.8rem;
    .label {
      display: inline-block;
      width: 8rem;
      max-width: 100%;
      color: #aaa;
      margin-right: 1rem;
      text-align: right;
    }
    .value {
      font-weight: 700;
      display: inline-block;
      color: #333;
    }
  }
}

.inventory {
  .products {
    h3 {
      margin: 1rem 0;
    }
  }
  .orders {

  }
  .brands {

  }
  .categories {

  }
  .supplier {
    h3 {
      margin: 1rem 0;
    }
  }
  .gridMargin {
    margin-left: -15px;
    margin-right: -15px;
  }
  table td, th {
    text-align: left !important;
  }
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 500px;
    max-width: 100%;
    margin: auto;
    svg {
      font-size: 4rem;
      color: #999;
    }
    h1 {
      font-weight: 500;
      margin: 1rem 0 0;
      color: #666;
    }
    p {
      font-size: 0.9rem;
      font-weight: 400;
      width: 30rem;
      max-width: 100%;
      color: #666;
      text-align: center;
      margin: 0.8rem 0 2rem;
    }
  }
}