.alert {
  background-color: $primary;
  color: rgba(0,0,0,0.5);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.08);
  @include background_colors();
  &.alert_linked {
    cursor: pointer;
  }
}

.toast {
  background-color: $primary;
  color: rgba(255,255,255, 1);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: block;
  position: fixed;
  left: 1rem;
  bottom: -3rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.08);
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  @include background_colors();
  &.toast_show {
    transform: translate(0, -4rem);
    opacity: 1;
  }
  &.alert_linked {
    cursor: pointer;
  }
}