@import './../../res/helpers';

.not_found_page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .container {
    width: 25rem;
    max-width: 100%;
    h1 {
      text-align: center;
      color: $dark;
      margin-bottom: 2rem;
    }
    h3 {
      text-align: center;
      color: $gray;
    }
    .link {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      margin-top: 0.8rem;
    }
  }
}