@import "../../res/helpers";

.messages {
  margin: 0.8rem 1rem 0;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #ddd;
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    svg {
      font-size: 4rem;
      color: #999;
    }
    h1 {
      font-weight: 400;
      margin: 1rem 0 0;
      color: #666;
    }
    p {
      font-size: 0.9rem;
      font-weight: 400;
      width: 30rem;
      max-width: 100%;
      color: #666;
      text-align: center;
      margin: 1rem 0;
    }
  }
}